/* Стили для index.html */

/* Шапка сайта */

:root {
   --title-color: #212121;
   --main-color: #757575;
   --accent-color: #2196F3;
   --footer-contacts: rgba(255, 255, 255, 0.6);
   --main-white: #ffffff;
   --background-team-color: #F5F4FA;
   --button-hover: #188CE8;
}

body {
   font-family: 'Roboto', sans-serif;
   color: #757575;
   background-color: var(--main-white);
}

a {
   text-decoration: none;
}

.list,
.section-list,
.team-list {
   list-style: none;
}

/* Logo */

.logo {
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   
}

.logo.first {
   color: var(--accent-color);
}

.logo.second {
   color: var(--title-color);
}

.footer .second {
   color: var(--main-white);
}

 /* Site nav */

 .site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
 }

 .link {
    color: var(--title-color);
 }

 .site-nav .current {
    color: var(--accent-color);
 }

 .info {
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    font-size: 14px;

    color: var(--main-color);
 }

 .info:hover,
 .info:focus,
 .contact-info:hover,
 .contact-info:focus,
 .link:hover,
 .link:focus {
    color: var(--accent-color);
 }

 /* Hero */

 .hero {
    background-color: #2F303A;
 }

 .only .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-white);
 }

 .button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--main-white);
    background-color: var(--accent-color);
 }

 .button:hover,
 .button:focus {
    background-color: #188CE8;
    color: var(--main-white);
 }

 /* Чему уделяем внимание */

 .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-color);
 }

 .word {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
 }

 


 /* Чем мы заниемся */

 .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
 }

 /* Our team */

 .team {
    background-color: var(--background-team-color);
 }


 .team .team-players {
    background: #FFFFFF;
 }

 .team-player {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-color);
 }

 .team .post {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
 }

 /* Footer */

 .footer {
    background-color: #2F303A;
 }

 .address {
    font-size: 14px;
    font-style: inherit;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-white);
 }

 .contact-info {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
   color: var(--footer-contacts);
 }

 /* Cтили для portfolio.html */

 /* Кнопки фильтра */
 .filter-item {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.6;
    background: #F5F4FA;
 }

.filter-item:hover,
.filter-item:focus,
.filter .current {
   background-color: var(--accent-color);
   color: var(--main-white);
}

 /* Список работ */
 .work-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
 }

 .work-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--main-color)
 }



 

 